.things-table tr td {
  white-space: normal;
  word-wrap: break-word;
}

.checkbox-action-loader {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
}
